{% extends 'base.html' %}

{% block content %}
    {% include 'external/form_errors.html' %}
    <a href="{{ url_for('new_post') }}" class="btn btn-success">Create New Post</a>
    <br>
    <h3>{{ current_user.username }}</h3>
    <p>{{ current_user.email }}</p>
    <hr>
    <br>
    <form action="" method="post">
        {{ form.csrf_token }}
        {{ form.username.label }} {{ form.username }}
        {{ form.email.label }} {{ form.email }}
        <input type="submit" value="Update" class="btn btn-primary">
    </form>
{% endblock %}